@font-face {
  font-family: "Alfa Slab";
  src: url("/fonts/AlfaSlabOne-Regular.ttf") format("truetype");
}

body {
  /*background-color: #F4C095;*/
  background-image: url("/images/background.png");
}

h1 {
  font-size: 60px;
  letter-spacing: 2px;
  color: #AAA;
  text-align: center;
  font-family: "Alfa Slab";
}

p {
  color: #AAA;
  font-size: 1.5em;
  text-align: center;
  font-family: "Alfa Slab";
}

img {
  width: 350px;
  height: 350px;
  margin: 10px;
}
